# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.db
*.sqlite3

# Virtual environment
venv/
.env/
env/
.venv/

# IDE / Editor files
.vscode/
.idea/
*.swp

# System files
.DS_Store
Thumbs.db

# Environment and credentials
.env
*.key
*.pem

# Logs
*.log
logs/
